.search {

    .field__input { min-width: 100%; }

    .input { padding: 12px 24px; padding-left: 50px !important; }

    .search__icon { width: 18px; height: 18px !important; }

    .uif__icon { left: 8px !important; }

}

